header 
    display flex
    justify-content space-between

    width 100%
    margin 19px 0

    .links
        display flex
        flex-flow column wrap

        a
            text-decoration none

        span.up
            margin 7px 0

            a
                color #445569
                font-family: 'Roboto', sans-serif;
                font-size 11px
                font-weight 400
                line-height 22px
                text-transform uppercase
                letter-spacing 3.3px
                margin 0 10px

        span.down
            margin 7px 0

            a
                color #ffffff
                font-family: 'Roboto', sans-serif;
                font-size 14px
                font-weight 400
                line-height 22px
                text-transform uppercase
                letter-spacing 0.84px
                margin 0 10px
                
    .call-back
        display flex
        flex-flow column wrap
        align-items flex-start
        justify-content center

        button 
            display flex
            align-items center

            border 1px solid #fadb44
            padding 3px 29px 
            background-color transparent
            border-radius 20px

            color #ffffff
            font-family: 'Roboto', sans-serif;
            font-size 9px
            font-weight 400
            line-height 22px
            text-transform uppercase
            letter-spacing 1.8px

            img 
                margin-right 6px
        
        span.text
            margin 10px
            color #1a273e
            font-family: 'Roboto', sans-serif;
            font-size 20px
            font-weight 700
            line-height 22px
            text-transform uppercase
            padding-bottom 0
            height 24px
            
            span.number
                margin 0 0 3px 0
            img
                padding 3px 15px 2px 15px
                margin 0 18px
                border-left 1px solid #445569