footer 
    background #efefef
    background-image url('images/backgroundFooter.png')
    background-size 100%
    background-repeat no-repeat
    background-position bottom

    padding 20px 0
    height auto
    width 100%

    .container
        display flex
        justify-content space-between
        align-items flex-start
        
        ul
            padding 0

            li
                list-style none

                a
                    text-decoration none
                    color #a4a8b6
                    font-family "Roboto" sans-serif
                    font-size 11px
                    font-weight 400
                    line-height 25px
                    /* Text style for "Коттеджи ," */
                    letter-spacing 0.55px

            li.bold, li.bold a
                margin 10px 0

                color #64697e
                font-family "Roboto" sans-serif
                font-size 11px
                font-weight 700
                line-height 25px
                text-transform uppercase
                letter-spacing 0.55px
        .callback
            align-items right 
            h1
                color: #1a273e;
                font-family 'Roboto', sans-serif
                font-size: 40px;
                font-weight: 700;
                line-height: 25px;
                padding 0
            
            span
                
                a   
                    
                    text-decoration none
                    color: #64697e;
                    font-family: "Arial MT";
                    font-size: 9px;
                    font-weight: 400;
                    line-height: 25px;
                    text-transform: uppercase;
                    letter-spacing: 2.7px;

                    margin 0 10px

                    img 
                        margin -3px 5px

            .btn-login
                display flex
                flex-direction row
                align-items center
                justify-content center

                height 40px
                border: 2px solid #ffffff;
                
                span
                    display flex
                    align-items center

                    padding 0 16px 0 6px

                    color: #64697e;
                    font-family: "Roboto", sans-serif;
                    font-size: 9px;
                    font-weight: 400;
                    line-height: 25px;
                    text-transform: uppercase;
                    letter-spacing: 2.7px;
                    img 
                        margin 0 10px

                    &:first-of-type
                        border-right 1px solid rgba(#1a273e, .1) 
            .links
                text-align right 

                img 
                    margin 0 5px  
            .last
                margin-left 25%
                box-align: right 
                text-align right 
                width: 250px;
                height: 53px;
                color: #64697e;
                font-family: "Arial MT";
                font-size: 11px;
                font-weight: 400;
                line-height: 20px;        