.menu
    position fixed
    right 0
    top 40%

    li
        list-style none
        background-color #fadb44
        margin 1px
        height 50px
        width 50px

        display flex
        justify-content center
        align-items center
        cursor pointer
