.slider-profile
    height 400px

    .slide.active
        transform: translateX(0)
        opacity 1
        
    .slide.left
        transform: translateX(10%)

    .slide
        transform: translateX(-10%)
        opacity 0
        transition 400ms
        position absolute