.benefits
    background-color #fadb44
    background-image url('images/Shape_6.png')
    background-size auto
    background-repeat no-repeat
    background-position-x right 
    
    width 400px
    height 320px
    padding 5px 15px 0 5px

    ul
        margin 0
        padding 0 20px
        li
            height 107px

            display flex
            justify-content space-between
            align-items center

            border-bottom 1px solid #e8c61f
            list-style none

            img 
                height 60px
                width 60px

            span.title 
                color #8b7509
                font-family 'Roboto', sans-serif
                font-size 12px
                font-weight 400
                line-height 18px

                width 260px
                h3
                    color #4c3f00
                    font-family 'Roboto', sans-serif
                    font-size 15px
                    font-weight 700
                    line-height 20px
                    text-transform uppercase
                    /* Text style for "2, 2 года" */
                    letter-spacing 0.75px
                    
                    margin 2px