.banners
    display flex

    background white
    width 891px
    height auto

    img.big-img
        margin 2px
        width 320px
        height 320px

    .banners-container
        display flex
        flex-flow row wrap
        width 571px

        .banner
            margin 2px
            width 185px
            height 160px
            
            img
                position absolute
                width 185px
                height 160px
                
            img[alt="arrow"]
                position absolute
                padding 20px
                width 23px
                height 23px
                transform translateY(97px)
                
    span.label
        width 145px
        position absolute
        padding 20px

        text-shadow: 0 0 5px rgba(28, 47, 80, 0.6);
        color: #ffffff;
        font-family: "Roboto";
        font-size: 15px;
        font-weight: 700;
        line-height: 22px;
        text-transform: uppercase;

        letter-spacing: 0.75px;
    
    img[alt="arrow"]
        position absolute
        padding 20px
        width 23px
        height 23px
        transform translateY(267px)
        cursor pointer
                        